* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background: #fff;
  }

  a {
   padding-left: 10%;
   padding-top: 5%;
   color: #2b6777;
   text-decoration: none;
   font-weight: bold;
   font-size: 18px;

  }

  ul {

  list-style: none;
  background-color: #2b6777;
  color: #fff;
  font-size: 20px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 8px;

  }

  /* Timer style */

  .timer-container {
    position:absolute;
    top:0;
    right:0;
    padding-right: 10%;
    padding-top: 5%;
    color: #2b6777;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }

  #time-over {
    position:absolute;
    top:0;
    right:0;
    padding-right: 10%;
    padding-top: 5%;
    color: #2b6777;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

  }

 
  /* Main page styling */
  .page-wrapper {
    margin: auto;
    padding: 10px;
    text-align: center;
      
      
  }

  .heading {
    font-size: 40px;
    font-weight: bold;
    color: #2b6777;
  }

  .start-page-wrapper p {
    font-size: 20px;
    color: #2b6777;
    width: 500px;
    
  

  }

  .start-button {
    background: #2b6777;
    border: transparent;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;

  }


   .btn-choice {
   display: grid;
   gap: 10px;
   margin: 20px 0; 
   
 
    
   } 
   
   .question {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    color: #2b6777;
    padding-top: 20px;

   
     
  }
  
  .question-button {
    background-color: #c3dfdd;
    color: #2b6777;
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    text-align: left;

     
  }
  
  .hide {
   display: none;
  
  }

  #check-answer-correct, #check-answer-incorrect {
    color: #2b6777;
    font-size: 1.5em;
    padding: 20px;
    text-align: left;
  
  }
  
  /* Button style  */
  .btnStyle {
    background: #2b6777;
    border: transparent;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 20px;
    text-align: center;
    margin-top: 0.6em;
  
  }

  #clear-score {
    background: #2b6777;
    width: auto;
    border: transparent;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 20px;
    text-align: center;
    margin-top: 0.6em;

  }

  

  #final-score-statement {
    color: #2b6777;
    font-size: 2.5em;
    padding: 20px;
    font-weight: bold;
  
  }

  .endpage {
    color: #2b6777;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    

  }
  /*Form entry */
  form {
    width: 100%;
    align-items:center;
    
  }

  input {
    margin-bottom: 1em;
    width: 100%;
    padding: 20px;
    font-size: 1.25em;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    box-shadow: -0.5px -0.5px 6px 0.5px #2b6777;
    color: #2b6777;
  }
  #instruction-msg {
    padding-top: 15px;
  }